/__pycache__
tokens.txt
symbol_table.txt
lexical_errors.txt
parse_tree.txt
/PA1_Testcases
input.txt
output.txt
/PA3_Testcases
/PA2_Testcses
/PA1_Testcases_Old
Compiler.zip
expected.txt
expected2.txt
tester
syntax_errors.txt
